.card-product {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    margin-right: 200px;
    background-color: white;
    border-bottom: 1px solid #EEEEEE;

}

.card-product img {
    padding: 16px;
    border-radius: 4px;
    width: 180px;
}

.description {
    display: flex;
    flex-direction: column;
    color: #333333;
    padding-top: 16px;
}

span {
    text-decoration: none;
}

.ant-list .ant-list-item {
    padding: 0;
}

a {
    text-decoration: none;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 32px;
    padding-top: 16px;
    font-size: 24px;
    color: #333333;
}

.price img {
    width: 20px;
}

.title {
    padding: 0;
    font-size: 18px;
    color: #333333;
}




.categories-container .category:last-child {
    color: #666666;
}

.categories-container {
    margin-left: 200px;
    margin-right: 200px;
    color: #999999;
    font-size: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 600;
}

.categories-container:hover {
    cursor: pointer;
}