@import 'variables.scss';

.card-product {
    display: flex;
    flex-direction: row;
    margin-left: $padding-primary;
    margin-right: $padding-primary;
    background-color: white;
    border-bottom: 1px solid $font-color;
}

.card-product img {
    padding: $padding-red;
    border-radius: 4px;
    width: 180px;
}

.detail {
    display: flex;
    flex-direction: column;
    color: $color-title;
    padding-top: $padding-red;
    width: 70%;
    padding-right: 64px;
}

span {
    text-decoration: none;
}

.ant-list .ant-list-item {
    padding: 0;
}

a {
    text-decoration: none;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: $padding-red;
    padding-top: $padding-red;
    font-size: 24px;
    color: $color-title;
}

.price img {
    width: 20px;
}

.title {
    padding: 0;
    font-size: $font-18;
    color: $color-title;
}




.categories-container .category:last-child {
    color: $color-title-2;
}

.categories-container {
    margin-left: $padding-primary;
    margin-right: $padding-primary;
    color: $color-title-3;
    font-size: $font-14;
    padding-top: $padding-red;
    padding-bottom: $padding-red;
    font-weight: 600;
}

.categories-container:hover {
    cursor: pointer;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.description span:first-child {
    margin-left: auto;
}

.description span.title {
    margin-right: auto;
}

.product {
    display: flex;
    flex-direction: column;
    margin-left: $padding-primary;
    margin-right: $padding-primary;
    background-color: white;
    margin-bottom: $padding-green;
}

.product-two img {
    width: 680px !important;
    height: 680px;
    padding: $padding-green;

}

.product-two {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 4px;
}

.product-details {
    display: flex;
    flex-direction: column;
    padding-right: $padding-green;
}

.product-details span:first-child {
    font-size: $font-14;
    color: $color-title-2;
    padding-top: $padding-green;
    padding-bottom: $padding-red;
    font-weight: 600;
}

.product-details span:nth-child(2) {
    font-size: 24px;
    font-weight: 600;
    width: 70%;
}

.prices span:first-child {
    font-size: 48px;
    padding-bottom: $padding-green;
}

.prices {
    display: flex;
    align-items: center;
}

.product-details button {
    background-color: $color-button;
    width: $padding-primary;
    height: 35px;
    border: 0px;
    color: white;
    border-radius: 4px;
    font-size: $padding-red;
}

.product-details:hover {
    cursor: pointer;
}

.product-description {
    display: flex;
    flex-direction: column;
    padding-left: $padding-green;
    width: 62%;
}

.product-description span:first-child {
    padding-top: $padding-green;
    font-size: 28px;
}

.product-description span:last-child {
    padding-top: $padding-green;
    padding-bottom: $padding-primary;
    color: $color-title-3;
    border-radius: 4px;
}

@mixin small-screen {
    @media (max-width: $small-screen) {
        // Definir estilos específicos para una pantalla pequeña aquí
    }
}

@media screen and (max-width: $small-screen) {
    .card-product {
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
        align-items: center;
    }

    .img-product {
        width: 350px !important;
    }

    .detail {
        padding-top: 8px;
        padding-right: 30px;
    }

    .description span.title {
        padding-bottom: $padding-red;
    }

    .price {
        font-size: $font-18;
    }

    .product {
        margin-left: 0;
        margin-right: 0;
    }

    .product-two {
        flex-direction: column;
    }

    .product-two img {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .product-description span:first-child {
        font-size: 24px;
    }

    .product-description span:last-child {
        font-size: $font-14;
    }

    .product-details {

        padding-left: $padding-green;
    }

    .product-details span:first-child {
        font-size: $font-12;
        padding-top: $padding-red;
    }

    .product-details span:nth-child(2) {
        font-size: 20px;
    }

    .product-details span:nth-child(3) {
        font-size: 36px;
    }

    .categories-container {
        margin-left: 0;
        margin-right: 0;
        font-size: $font-12;
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

/* Estilos para pantallas de hasta 992px de ancho */
@media screen and (max-width: 992px) {
    .card-product {
        margin-left: 0;
        margin-right: 0
    }

    .product-description span:first-child {
        font-size: 20px;
    }

    .product-description span:last-child {
        font-size: $font-12;
    }

    .price {
        font-size: 20px;
    }

    .product-details span:first-child {
        font-size: $font-12;
        padding-top: $padding-red;
    }

    .product-details span:nth-child(2) {
        font-size: 28px;
    }

    .product-details span:nth-child(3) {
        font-size: 54px;
    }

    .categories-container {
        font-size: $font-12;
        padding-top: $padding-red;
        padding-bottom: $padding-red;
    }

    .product-two {
        flex-direction: column;
    }

    .product-two img {
        width: 250px;
    }
}

/* Estilos para pantallas de más de 992px de ancho */
@media screen and (min-width: 993px) {
    .card-product {
        margin-left: $padding-primary;
        margin-right: $padding-primary;
    }

    .product {
        margin-left: $padding-primary;
        margin-right: $padding-primary;
    }

    .categories-container {
        font-size: $font-14;
        padding-top: $padding-red;
        padding-bottom: $padding-red;
    }
}