@import 'variables.scss';

.card-product {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    margin-right: 200px;
    background-color: white;
    border-bottom: 1px solid #EEEEEE;

}

.card-product img {
    padding: 16px;
    border-radius: 4px;
    width: 180px;
}

.detail {
    display: flex;
    flex-direction: column;
    color: #333333;
    padding-top: 16px;
    width: 70%;
    padding-right: 64px;
}

span {
    text-decoration: none;
}

.ant-list .ant-list-item {
    padding: 0;
}

a {
    text-decoration: none;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 16px;
    padding-top: 16px;
    font-size: 24px;
    color: #333333;
}

.price img {
    width: 20px;
}

.title {
    padding: 0;
    font-size: 18px;
    color: #333333;
}




.categories-container .category:last-child {
    color: #666666;
}

.categories-container {
    margin-left: 200px;
    margin-right: 200px;
    color: #999999;
    font-size: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 600;
}

.categories-container:hover {
    cursor: pointer;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.description span:first-child {
    margin-left: auto;
}

.description span.title {
    margin-right: auto;
}

.product {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;
    background-color: white;
    margin-bottom: 32px;
}

.product-two img {
    width: 680px !important;
    height: 680px;
    padding: 32px;

}

.product-two {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 4px;
}

.product-details {
    display: flex;
    flex-direction: column;
    padding-right: 32px;
}

.product-details span:first-child {
    font-size: 14px;
    color: #666666;
    padding-top: 32px;
    padding-bottom: 16px;
    font-weight: 600;
}

.product-details span:nth-child(2) {
    font-size: 24px;
    font-weight: 600;
    width: 70%;
}

.prices span:first-child {
    font-size: 48px;
    padding-bottom: $padding-green;
}

.prices {
    display: flex;
    align-items: center;
}

.product-details button {
    background-color: #3483FA;
    width: 200px;
    height: 35px;
    border: 0px;
    color: white;
    border-radius: 4px;
    font-size: 16px;
}

.product-details:hover {
    cursor: pointer;
}

.product-description {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    width: 62%;
}

.product-description span:first-child {
    padding-top: 32px;
    font-size: 28px;
}

.product-description span:last-child {
    padding-top: 32px;
    padding-bottom: $padding-primary;
    color: #999999;
    border-radius: 4px;
}

@media screen and (max-width: 768px) {
    .card-product {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }

    .detail {
        padding-top: 8px;
    }

    .price {
        font-size: 18px;
    }

    .product {
        margin-left: 0;
        margin-right: 0;
    }

    .product-two {
        flex-direction: column;
    }

    .product-two img {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .product-description span:first-child {
        font-size: 24px;
    }

    .product-description span:last-child {
        font-size: 14px;
    }

    .product-details {

        padding-left: 32px;
    }

    .product-details span:first-child {
        font-size: 12px;
        padding-top: 16px;
    }

    .product-details span:nth-child(2) {
        font-size: 20px;
    }

    .product-details span:nth-child(3) {
        font-size: 36px;
    }

    .categories-container {
        margin-left: 0;
        margin-right: 0;
        font-size: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

/* Estilos para pantallas de hasta 992px de ancho */
@media screen and (max-width: 992px) {
    .product-description span:first-child {
        font-size: 20px;
    }

    .product-description span:last-child {
        font-size: 12px;
    }

    .price {
        font-size: 20px;
    }

    .product-details span:first-child {
        font-size: 12px;
        padding-top: 16px;
    }

    .product-details span:nth-child(2) {
        font-size: 28px;
    }

    .product-details span:nth-child(3) {
        font-size: 54px;
    }

    .categories-container {
        font-size: 12px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .product-two {
        flex-direction: column;
    }

    .product-two img {
        width: 250px;
    }
}

/* Estilos para pantallas de más de 992px de ancho */
@media screen and (min-width: 993px) {
    .card-product {
        margin-left: 200px;
        margin-right: 200px;
    }

    .product {
        margin-left: 200px;
        margin-right: 200px;
    }

    .categories-container {
        font-size: 14px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}