.all-products{
padding-top:32px
}
.card-product {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    margin-right: 200px;
    background-color: white;
    border-bottom: 1px solid #EEEEEE;

}

.card-product img {
    padding: 16px;
    border-radius: 4px;
}

.description {
    display: flex;
    flex-direction: column;
    color: #333333;
    padding-top: 16px;
}

span {
    text-decoration: none;
}

.ant-list .ant-list-item {
    padding: 0;
}
a{
    text-decoration: none;
}
.price{
display: flex;
flex-direction: row;
align-items: center;
padding-bottom: 32px;
}
.price img{
width: 20px;
}
.title{
padding: 0;
}
