$color-primary: #FFE600;
$color-button: #3483FA;
$color-title: #333333;
$color-title-2: #666666;
$color-title-3: #999999;
$font-color: #EEEEEE;
$padding-red: 16px;
$padding-green: 32px;
$font-12: 12px;
$font-14: 14px;
$font-18: 18px;
$font-14: 16px;
$font-28: 28px;
$padding-primary:200px;
$small-screen: 640px;
$medium-screen: 768px;
$large-screen: 1024px;